@import '~bootstrap/scss/bootstrap';

@import '/resources/scss/partials/navbar';
@import '/resources/scss/partials/welcome';
@import '/resources/scss/partials/register';
@import '/resources/scss/partials/login';


@import '/resources/scss/partials/back-layout';
@import '/resources/scss/partials/forms';

@import '/resources/scss/partials/index';

@import '/resources/scss/partials/sponsorship';
@import '/resources/scss/partials/payment';

@import '/resources/scss/partials/reviews';
@import '/resources/scss/partials/leads';

body {
    background-color: #F6EEE0;
}

.navbar-toggler-icon {
    border: 0px;

    i {
        color: white;
    }
}