      // font-family: 'Anton', sans-serif;
      // font-family: 'Handjet', cursive;
      // font-family: 'Josefin Sans', sans-serif;
      // font-family: 'Montserrat', sans-serif;

.navbar {
    height: 90px;
    
}

.page-body {
    position: relative;
    height: calc(100vh - 90px);
    display: flex;
    background-color: #f2e4c4;

    .sidebar {
        position: relative;
        // width sidebar!
        width: 50px;
        height: 95%;
        background-color: #1d1b2c;
        border-right: 2px solid #E7A117; 
        border-radius: 0 60px 60px 0;  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .sidebar-mobile {
            box-shadow: none;
        }

        .sidebar-button {
            color: #E7A117;
            text-decoration: none;
            text-align: center;
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 400;
            letter-spacing: 8px;
            text-transform: uppercase;
            transition: 0.5s;

            // &:hover {
            //     background-color: white;
            //     color: #2C5364;
            //     margin-left: 30px;
            //     transition: 1s;
            // }
        }
    }
    .sidebar-toggle {
        position: absolute;
        left: 10px;
        top: 30px;
        z-index: 99;
        font-size: 20px;
    }
    
    main {
        overflow: auto;
        // width main!
        width: calc(100vw - 50px);
        width: 100%;
        
        .page-title {
            text-align: end;
        }
         
    }

    @media screen and (min-width: 0px) {
        .sidebar-show{
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 0;
            border-right: 4px ridge #E7A117;
            border-bottom: 4px ridge #E7A117;
            z-index: 999;
        }
        .sidebar-icon {
            font-size: 24px;
        }
        #right-index{
            padding-right: 40px;
        }
        #left-index{
            padding-left: 40px;
        }
    }
    @media screen and (min-width: 500px) {
        .sidebar-show{
            width: 35%;
            height: 95%;
            position: absolute;
            border-radius: 0 60px 60px 0;
        }
        .sidebar-icon {
            font-size: 18px;
        }
    }
    @media screen and (min-width: 992px) {
        .main {
            width: calc(100vw - 220px);
        }
        .sidebar {
            width: 220px;
            box-shadow: 4px 3px 4px 5px rgba(0,0,0,0.75);
        }
        .sidebar-toggle {
            display: none;
        }
        #right-index {
            padding-right: 90px; 
        }
        #left-index{
            padding-left: 90px;
        }
    }

   
}


// .type {
    //     font-family: monospace;
    //     color:#0000;
    //     background:
    //     linear-gradient(-90deg,#000000 5px,#0000 0) 10px 0,
    //     linear-gradient(#000000 0 0) 0 0;
    //     background-size:calc(var(--n)*1ch) 200%;
    //     -webkit-background-clip:padding-box,text;
    //     background-clip:padding-box,text;
    //     background-repeat:no-repeat;
    //     animation: 
    //     b .5s infinite steps(1),   
    //     t calc(var(--n)*0.2s) steps(var(--n)) forwards;
    //     }
    //     @keyframes t{
    //         from {background-size:0 200%}
    //     }
    //     @keyframes b{
    //         50% {background-position:0 -100%,0 0}
    // }