// font-family: 'Anton', sans-serif;
// font-family: 'Handjet', cursive;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;

.contenuto-index {
    
    .label {
        // font-family: 'Handjet', cursive;
        // font-family: 'Montserrat', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .index-info{
        font-family: 'Montserrat', sans-serif;
    }
    
    .profile-img {
        border-radius: 20px 10px 20px 10px;
        max-width: 70%;
        max-height: 70%;
        object-fit: cover;
        box-shadow: 22px 22px 7px -5px rgba(0,0,0,0.75);
    }
    
    .icon-button {
        font-size: 30px;
        background-color: transparent;
        border: none;
        padding: none;
    
        i {
            color: black;
        }
    }

    .btn-cv{
        background-color: #1d1b2c;
        border: 2px solid #E7A117;
        padding: 5px 8px;
        border-radius: 10px;
        
        a{
            text-decoration: none;
            color: white;
        }
    }
    
    .edit-tooltip {
        --bs-tooltip-bg: rgb(233, 225, 225);
        --bs-tooltip-color: black;
    }
    .delete-tooltip {
        --bs-tooltip-bg: rgb(233, 225, 225);
        --bs-tooltip-color: black;
    }

}

// @media screen and (max-width: ) {
//     .contenuto-index {

//     }
// }
