#app {


  .navbar {
    background-color: #1d1b2c;
    // background: #0F2027;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    .logo {
      font-family: 'Anton', sans-serif;
    }

      .animate-character
      {
        text-transform: uppercase;
        background-image: linear-gradient(
          -225deg,
          #1d1b2c 0%,
          #E7A117 70%,
          #F6EEE0 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 3.5s linear infinite;
        display: inline-block;
        font-size: 40px;
      }
      
      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }
      .nav-link {
        font-family: 'Anton', sans-serif;
        letter-spacing: 3px;
        color: #E7A117;
      }
      .border-register {
        border: 1px solid #E7A117;

        &:hover {
          background-color: #E7A117;
          color: #1d1b2c;
          transition: 0.8s;
        }
      }
      #navbarDropdown {
        color: #E7A117 !important;
      }
      .dropdown-menu {
        background-color: #F6EEE0;

        .dropdown-item {
          // font-family: 'Anton', sans-serif;
          font-family: 'Space Grotesk', sans-serif;
          font-size: 13px;
          letter-spacing: 2px;
          color: #E7A117;
          
          &:hover {
            background-color: #E7A117;
            color: #F6EEE0;
          }
        }
        
      }
  }
}
