main {
    background-color: #F6EEE0;
    font-family: "Montserrat", sans-serif;


    #contenuto-register {

        h2 {
            font-family: 'Space Grotesk', sans-serif;

        }

        .register-btn {
            display: block;
            margin: auto;
            padding: 5px 7px;
            background-color: #1d1b2c;
            border: 3px solid #1d1b2c;
            color: #E7A117;
            text-transform: uppercase;

            &:hover {
                border-color: #E7A117;
                border-width: 3px;
            }
        }

        .checkbox-custom {
            &:checked {
                color: #E7A117;
            }
        }

        input {
            &:focus {
                outline: none !important;
                border-color: #1d1b2c;
                box-shadow: 0 0 10px #1d1b2c;
            }
        }


    }
}